<div class="line3">
    <h3>Conversation between <span class="high"><%= jdata["item"]["line3"] %> </span> and <span class="high"><%= jdata["item"]["line3name2"] %> </span></h3>
</div>  
<div class="card">
<div class="profile">
    <div class="img">
        <img src=" <%= jdata['item']['image1'] %>" style="border-radius: 50% 50%" alt="avatar">
    </div>
    &nbsp;
    <div class="pname">
        <p><span class="high"><%= jdata["item"]["auth1"]%></span></p>
        <p><%= jdata["item"]["cmnt1_detail"]%></p>
    </div>
</div> 
<div class="msg">
    <h3><%= jdata["item"]["cmnt1_text"]%></h3>
</div>  
<div class="reply">
    <div class="claps">
        <p>&#128079; <%= jdata["item"]["cmnt1_clap_count"]%></p>
    </div>
    <div class="response">
        <h3><%= jdata["item"]["cmnt1_reply_count"]%> <i style="font-size:24px" class="fa">&#xf097;</i> </h3>
    </div>
</div>
</div>
<div class="card">
<div class="profile">
    <div class="img">
        <img src=" <%= jdata['item']['image2'] %>" style="border-radius: 50% 50%" alt="avatar">
    </div>
    &nbsp;
    <div class="pname">
        <p><span class="high"><%= jdata["item"]["auth2"]%></span></p>
        <p><%= jdata["item"]["cmnt2_detail"]%></p>
    </div>
</div>
<div class="msg">
    <h3><%= jdata["item"]["cmnt2_text"]%></h3>
</div>  
<div class="reply">
    <div class="claps">
        <p>&#128079; <%= jdata["item"]["cmnt2_clap_count"]%> </p>
    </div>
    <div class="response">
        <h3> <i style="font-size:24px" class="fa">&#xf097;</i> </h3>
    </div>
</div> 
</div> 