<div class="line3">
    <h3>Conversation between <span class="high"><%= jdata["item"]["line3"] %> </span> and <span class="high"><%= jdata["item"]["line3name2"] %> </span></h3>
</div> 
<div class="card"> 
<div class="profile">
    <div class="img">
        <img src="<%= jdata['item']['image1'] %>" style="border-radius: 50% 50%" alt="avatar">
    </div>
    &nbsp;
    <div class="pname">
        <p><span class="high"><%= jdata["item"]["pname"]%></span></p>
        <p><%= jdata["item"]["pdate"]%></p>
    </div> 
</div> 
<div class="msg">
    <h3><%= jdata["item"]["msg"]%></h3>
</div>  
<div class="reply">
    <div class="claps">
        <p>&#128079; <%= jdata["item"]["claps"]%></p>
    </div>
    <div class="response">
        <h3><%= jdata["item"]["response"]%> response <i style="font-size:24px" class="fa">&#xf097;</i> </h3>
    </div>
</div>
</div>
<div class="card">
<div class="profile">
    <div class="img">
        <img src="<%= jdata['item']['image2'] %>" style="border-radius: 50% 50%" alt="avatar">
    </div>
    &nbsp;
    <div class="pname">
        <p><span class="high"><%= jdata["item"]["pname2"]%></span></p>
        <p><%= jdata["item"]["pdate2"]%></p>
    </div>
</div>
<div class="msg">
    <h3><%= jdata["item"]["msg1"]%></h3>
</div>  
<div class="reply">
    <div class="claps">
        <p>&#128079; <%= jdata["item"]["claps1"]%> </p>
    </div>
    <div class="response">
        <h3> <i style="font-size:24px" class="fa">&#xf097;</i> </h3>
    </div>
</div>  
</div>
   